
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
       url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto700.woff2') format('woff2'),
       url('../fonts/roboto700.woff') format('woff');
}
@font-face {
  font-family: FontAwesome;
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  background-color: #fbfbfb;

  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 54px;
  color: black;
}
input, button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.fixed-container {
  max-width: 1170px;
  margin: 0 auto;
}
.special-container {
  max-width: 970px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hidden {
  display: none;
}